21 - WCF Assignment - 1/21 - WCF Assignment - 1/Service Consumer/ServiceConsumer/Connected Services/CalculatorService/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50090/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50090/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_DoAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAdd" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DoAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoAddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DoSubtract_InputMessage">
    <wsdl:part name="parameters" element="tns:DoSubtract" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DoSubtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoSubtractResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DoMutltiply_InputMessage">
    <wsdl:part name="parameters" element="tns:DoMutltiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DoMutltiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoMutltiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DoDivide_InputMessage">
    <wsdl:part name="parameters" element="tns:DoDivide" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DoDivide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoDivideResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="DoAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/DoAdd" message="tns:ICalculator_DoAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/DoAddResponse" message="tns:ICalculator_DoAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoSubtract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/DoSubtract" message="tns:ICalculator_DoSubtract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/DoSubtractResponse" message="tns:ICalculator_DoSubtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoMutltiply">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/DoMutltiply" message="tns:ICalculator_DoMutltiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/DoMutltiplyResponse" message="tns:ICalculator_DoMutltiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoDivide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/DoDivide" message="tns:ICalculator_DoDivide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/DoDivideResponse" message="tns:ICalculator_DoDivide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoAdd">
      <soap:operation soapAction="http://tempuri.org/ICalculator/DoAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSubtract">
      <soap:operation soapAction="http://tempuri.org/ICalculator/DoSubtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoMutltiply">
      <soap:operation soapAction="http://tempuri.org/ICalculator/DoMutltiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoDivide">
      <soap:operation soapAction="http://tempuri.org/ICalculator/DoDivide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:50090/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>